@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700&display=swap&subset=latin-ext');

body {
  display: flex;
  justify-content: space-around;

  font-family: 'EB Garamond', serif;
  font-size: 18pt;
  line-height: 24pt;
}
main {
  margin: 2rem;
  max-width: 50rem;
  text-align: justify;
}
h1 {
  font-weight: normal;
  text-align: center;
  font-size: 18pt;
  margin: 0.5em 0;
}
h1:first-of-type {
  margin-top: 2em;
}
h2 {
  font-variant: small-caps;
  font-weight: normal;
  text-align: center;
  font-size: 18pt;
  margin: 1.5em 0 1em;
}
h3 {
  font-weight: bold;
  text-align: center;
  font-size: 18pt;
  margin: 1em 0 0.5em;
}
p {
  margin: 0.5em 0;
}
.note {
  font-size: 16pt;
  line-height: 22pt;
}

.section-label {
  font-weight: bold;
  margin-right: 0.5em;
}
.item-label {
  margin-right: 0.5em;
}
.note-label {
  font-variant: small-caps;
}
.gloss {
  font-style: italic;
}

.ref {
  font-weight: bold;
  white-space: nowrap;
}
.phr, .w, .m, .c, .seg {
  font-weight: bold;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  font-size: 18pt;
}

table.border td {
  border: 1px solid #666;
}

div.float-list {
  display: flex;
  align-items: flex-start;
  margin: 0.5em 0;
}
div.float-list-head {
  white-space: nowrap;
  margin: 0 1em 0 0;
}
div.float-list-item {
  padding-left: 2em;
  text-indent: -2em;
}