@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

body {
  display: flex;
  justify-content: space-around;

  font-family: 'Noto Serif';
  font-size: 14pt;
  line-height: 20pt;
}
body.old {
  color: #333;
  text-shadow: 0 0 2px #333;
  background: #FFFFF7;
}
main {
  margin: 2rem;
  max-width: 37rem;
  text-align: justify;
  position: relative;  /* for page number positioning */
}
h1 {
  font-weight: normal;
  text-align: center;
  font-size: 18pt;
  line-height: 24pt;
  letter-spacing: 1px;
  margin: 0.5em 0;
}
h1:first-of-type {
  margin-top: 2em;
}
h2 {
  text-transform: uppercase;  /* until we have proper smallcaps */
  font-size: 14pt;
  line-height: 20pt;

  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
  margin: 1.5em 0 1em;
}
h3 {
  font-weight: bold;
  text-align: center;
  font-size: 14pt;
  line-height: 20pt;
  margin: 1em 0 0.5em;
}
p {
  margin: 0.5em 0;
}
.note {
  font-size: 12pt;
  line-height: 16pt;
}

.section-label {
  font-weight: bold;
  margin-right: 0.5em;
}
.item-label {
  margin-right: 0.5em;
}
.item-label-bold {
  margin-right: 0.5em;
  font-weight: bold;
}
.item-label-bold-inline {
  font-weight: bold;
}
.note-label {
  font-variant: small-caps;
}
.gloss {
  font-style: italic;
}

.ref {
  font-weight: bold;
  white-space: nowrap;
}
.phr, .w, .m, .c, .seg {
  font-weight: bold;
}
/* .grm {
  font-style: italic;
} */
.bibl-title {
  font-style: italic;
}
.ditto {
  padding: 0 1.5em;
}

table {
  margin: 1em auto;
  min-width: 30rem;
  border-collapse: collapse;
}
table caption {
  margin: 1em 0;
}
td {
  padding: 0px 10px;
  font-size: 14pt;
  white-space: nowrap;
}
table.border td {
  padding: 5px 10px;
  border: 1px solid #666;
}
td.right-bracket::after {
  vertical-align: middle;
  font-size: 200%;
  content: ' {';
}
td.left-bracket::before {
  vertical-align: middle;
  font-size: 200%;
  content: '} ';
}
.inline-block {
  display: inline-block;
  padding: 0.5em 0;
}
.center {
  text-align: center;
  padding: 0 1em;
}
.footnote {
  color: #666;
  margin: 0 0.5em;
}
.footnote::before {
  content: '(';
}
.footnote::after {
  content: ')';
}
div.float-list {
  display: flex;
  align-items: flex-start;
  margin: 0.5em 0;
}
div.float-list-head {
  white-space: nowrap;
  margin: 0 1em 0 0;
}
div.float-list-item {
  padding-left: 2em;
  text-indent: -2em;
}

/* page breaks */
span.pb > span {
  font-size: 80%;
  color: #369;
  position: absolute;
  right: 100%;
  padding-right: 2em;
  font-style: normal;
  font-weight: normal;
}
span.pb > span::before {
  content: 'p';
}

/* for scripture */
div.verse {
  margin-left: 2em;
  position: relative;
}
div.verse span.verse-label {
  position: absolute;
  right: 100%;
  padding-right: 1em;
}
div.verse > span.pb > span {
  /* a bit of a hack */
  padding-right: 4.5em;
}

/* for glossary */
div.entry {
  padding-left: 1rem;
  text-indent: -1rem;
}
div.entry .grm {
  font-style: italic;
}
